@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; 
  font-weight: 700;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
  font-weight: normal;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  height: 100vh;
}